.toggle {
  padding: .5rem 1rem;
  border: none;
  background-color: transparent;
  color: #444;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}

.active {
  background-color: #f0f0f0;
}

.toggle span {
  display: inline-block;
  border-radius: 2px;
  background-color: palevioletred;
  color: #fff;
  font-weight: 700;
  font-size: small;
  padding: 2px;
  min-width: 20px;
  margin-left: 2px;
  flex: 0 0 auto;
}