.button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 1rem;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  font-weight: 400;
  font-size: 16px;
  background: rgb(19, 91, 234);
  color: #fff;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}

.button:hover {
  color: #444;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
}